# langchain==0.1.20
# langchain-community==0.0.38
# sentence-transformers==2.7.0
# faiss-cpu==1.13.2
# transformers==4.40.1
# torch==2.10.0
# streamlit==1.35.0
# pypdf==4.2.0
# huggingface-hub==0.23.0

langchain==0.2.16
langchain-community==0.2.16
langchain-huggingface==0.0.3
sentence-transformers==3.0.1
faiss-cpu==1.9.0.post1
transformers==4.44.2
torch==2.6.0
streamlit==1.38.0
pypdf==4.3.1
huggingface-hub==0.24.6